@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.black {
  color: "#000";
}
.red {
  color: "red";
}
.white {
  color: #fff;
}
.dFlexWrap {
  display: flex;
  flex-wrap: wrap;
}
.justfyeven {
  justify-content: space-evenly;
}
.dFlex {
  display: flex;
}
.justfycent {
  justify-content: center;
}
.justfystart {
  justify-content: start;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 50px;
}
.mb-5 {
  margin-bottom: 50px;
}
.mt-7 {
  margin-top: 70px;
}
.px-10 {
  padding: 0 10px 0 10px;
}
.textCenter {
  text-align: center;
}
.fontwb {
  font-weight: bold;
}

@import url("./client/Signup.css");
@import url("./client/Login.css");
@import url("./home.css");
@import url("./footer.css");
@import url("./nav.css");
@import url("./about.css");
@import url("./admin/Signup.css");
@import url("./admin/Login.css");
