/* Ipad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .homeCarouselMargin {
    height: 5px;
  }
}
/* Desktop No retina */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .homeCarouselMargin {
    height: 8px;
  }
  .homeSpecsDiv > div {
    margin-top: 0px !important;
  }
}
.homeSpecsDiv > div {
  max-width: 40vh;
  margin-top: 3vh;
  border-radius: 15px;
}
.homeSpecsDiv > div:hover {
  box-shadow: 0 0 8px rgba(15, 15, 15, 0.76);
  transform: translateY(-1vmax);
  transition: all 0.5s;
}
.homeSpecsDiv > .home-1 {
  background-color: crimson;
}
.homeSpecsDiv > .home-2 {
  background-color: indigo;
}
.homeSpecsDiv > .home-3 {
  background-color: rgb(221, 23, 122);
}
.homeSpecsDiv > div > div {
  display: flex;
  justify-content: center;
}
.homeSpecsImg {
  max-width: 20vh;
  border-radius: 50%;
  padding: 2vh 0 0 0;
}
.homeSpecsDiv > div > p {
  text-align: center;
  padding: 3px 3px 3px 3px;
  font-family: "Caveat", cursive;
}
.homeSpecsDivPSpan {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
.homeWhatsapp {
  margin: 5vh auto 0 auto;
  width: 34vh;
}
.homeWhatsapp:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
