.navLogoLink{
    width: 185px;
}
.navLogoImg {
  object-fit: cover;
}
.navLogo-1 {
  width: 30px;
  border-radius: 0 0 0 11px;
}
.navLogoSpan{
    width: 5px;
    background-color: #fff;
}
.navLogo-2 {
  margin-top: 5px;
  width: 100px;
  max-height: 20px;
  border-radius: 0 12px 0 0;
}
